* {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

a {
  color: #0a2d3b;
}

.header {
  padding: 2rem;
  border: 1px solid grey;
  border-left: 0.5rem solid grey;
  width: 50rem;
  height: auto;
  position: absolute;
  background-color: rgba(0, 125, 198, 0.5);
}

.header h1,
p {
  margin-left: 0.5em;
}

.header > h1 {
  border-bottom: 1px solid black;
}

.countries-lista,
li {
  margin-bottom: 1em;
}

.pokemon-lista {
    text-align: left;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pokemon-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
